/* stylelint-disable no-descending-specificity, scss/at-extend-no-missing-placeholder */
// Specific styling for LPDC RDF form
.au-c-rdf-form {
  padding: $au-unit;
}

.three-way-compare-form.au-c-rdf-form > .au-o-grid > .au-o-grid__item {
  padding: 0 1rem 0 0 !important;
}

form.three-way-compare-form:has(.say-editor) .say-editor {
  max-height: 21rem;
  overflow-y: scroll;
}

form.three-way-compare-form:has(.rich-text-editor-content)
  .rich-text-editor-content {
  max-height: 21rem;
  overflow-y: scroll;
}
